form action="/workouts/new" method="POST"
    input type="text" name="workout_name" placeholder="Name the workout"
    input type="text" name="user_id" placeholder="Enter user id"
    input type="submit" value="Create Workout"
